*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins',sans-serif;
}
header{
    width: 100%;
    height: 120%;
    margin: auto;
}
header .content nav {
    width: 95%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .content nav h1{
    color: rgb(18, 48, 103);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 65px;
}
header .content nav h1:hover{
    color: rgb(255, 255, 255);
}
header .content  p{
    color: rgb(18, 48, 103);
    padding: 5px 5px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header .content  p:hover{
    color: rgb(255, 255, 255);
}
header .content nav ul{
    list-style: none;
    display: flex;
}
header .content nav ul li{
    padding: 3px 15px;
}
header .content nav ul li:nth-last-child(1){
    background-color: #000;
    border-radius: 20px;
    padding: 5px 20px;
}
header .content nav ul li:nth-last-child(1) a{
    color: #fff;
}
header .content nav ul li a{
    text-decoration: none;
    color: #121213;
    font-size: 13px;
    font-weight: 500;
    transition: .3s linear;
}
header .content nav ul li a:hover{
    color: rgb(53, 117, 236);
}
header nav .bi-three-dots{
    display: none;
}
header .content{
    position: relative;
    max-width: 100%;
    height: 100%;
}
header .content::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:url('img/background2.jpeg')no-repeat center center/cover ;
    border-radius: 5px;
    z-index: -1;
}
header .content .cont_bx{
    max-width: 34%;
    height: auto;
    padding: 30px;
}
header .content .cont_bx h2{
    text-align: center;
    font-size: 60px;
    line-height: 40px;
    font-weight: 10;
    width: 270% ;
    color: rgb(250, 248, 249);
    padding: 80px 5px 70px 0px;
    margin-left: 25%;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header .content .cont_bx h4{
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    font-weight: 10;
    width: 270% ;
    padding: 0px 65px 0px 0px;
    margin-left: 35%;
    color: #fff;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header .content .cont_bx input{
    width: 150%;
    padding: 10px 20px;
    border-radius: 20px;
    background: #fff;
    color: #000;
    outline: none;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0.5;
    font-size: 20px;
    margin-left: 82%;
    margin-bottom: 150px;
} 
header .content .cont_bx input:hover{
    background-color: rgb(251, 251, 251);
    border: 2px solid  rgb(21, 191, 238) ;
    opacity: 1;
}
header .trip_box{
    position: relative;
    width: 95%;
    height: auto;
    margin: auto;
}
header .trip_box .search_box{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 5px;
    border-radius: 5px;
    box-shadow: 0px 10px 25px rgb(113, 113, 113);
    z-index: 1;
}
header .trip_box .search_box .card{
    width: 200px;
    height: 100%;
}
header .trip_box .search_box .card h4{
     font-size: 15px;
     font-weight: 700;
     margin: 5px;
     color: rgb(18, 48, 103);

}
header .trip_box .search_box .card h4 .bi{
    position: absolute;
    font-size: 13px;
    margin:2px 0px 0px 5px ;
    transition: .3s linear;
}
header .trip_box .search_box .card input{
    margin-top: 1px;
    padding: 5px 0px;
    border: none;
    outline: none;
    font-size: 13px;
    
}
header .trip_box .search_box input[type ="button"]{
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s linear;
    cursor: pointer;
}
header .trip_box .search_box input[type ="button"]:hover{
    background: grey;
}
header .trip_box .travel_box{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    top: 40px;
    border-radius: 10px;
    padding-bottom:20px ;
    background: rgb(224, 243, 248);
    border: 1px solid rgb(68, 183, 236);
    box-shadow: 0px 25px 25px -10px rgb(224, 243, 248);
}
header .trip_box .travel_box::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: rgb(241, 241, 241, .7);
    backdrop-filter: blur(5px);
    z-index: -1;
}
header .trip_box .travel_box h4{
   margin: 0;
   padding: 40px 0px 0px 22px;
   color: rgb(18, 48, 103);
   font-size: 40px;
   font-weight: 600;
   margin-bottom: 5px;
}
header .trip_box .travel_box .cards{
    max-width: 96%;
    height: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .trip_box .travel_box .cards .card{
    width: 200px;
    height: 190px;
}
header .trip_box .travel_box .cards .card h3{
    margin: 0px 0px 10px 0px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    padding-left: 50px;
    color: rgb(18, 48, 103);;
}
header .trip_box .travel_box .cards .card h3 img{
    max-width: 25%;
    height: 25px;
    margin-left: 5px;
}
header .trip_box .travel_box .cards .card img{
    width: 110%;
    height: 92.5%;
}
header .trip_box .travel_box .cards .card a{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #000;
   color: #fff;
   text-decoration: none;
   border-radius: 20px;
   padding: 6px 20px;
   font-size: 12px;
   transition: .3s linear;
}
header .trip_box .travel_box .cards .card a:hover{
    background: grey;
}
.package{
    width: 40%;
    height: 570px;
    border-radius: 10px;
    margin: auto;
    margin-top: 80px;
    background: rgb(231, 239, 223);
}
.package h3{
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}
.package .transportation{
    height: 120px;
    width: 100%;
    display: flex;
}
.package .transportation .t1{
    height: 120px;
    width: 50%;
    padding-top: 78px;
    padding-left: 20px;
}
.package .transportation .t1 h4{
   text-align: center;
   font-size: 25px;
   font-weight: lighter;
}
.package .transportation .t2{
    height: 120px;
    width: 50%;
    padding-left: 70px;
}
.package .transportation .t2 img{
    border-radius: 70px;
    height: 140px;
    width: 140px;
}
.package .food{
    height: 120px;
    width: 100%;
    display: flex;
}
.package .food .t1{
    height: 120px;
    width: 50%;
    padding-left: 90px;
}
.package .food .t1 img{
    border-radius: 70px;
    height: 140px;
    width: 140px;
}
.package .food .t2{
    height: 120px;
    width: 50%;
    padding-top: 40px;
}
.package .food .t2 h4{
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
 }
 .package .guidecharge{
    height: 120px;
    width: 100%;
    display: flex;
}
.package .guidecharge .t1{
    height: 120px;
    width: 50%;
    padding-top: 78px;
    padding-left: 20px;
}
.package .guidecharge .t1 h4{
   text-align: center;
   font-size: 25px;
   font-weight: lighter;
}
.package .guidecharge .t2{
    height: 120px;
    width: 50%;
    padding-left: 70px;
}
.package .guidecharge .t2 img{
    border-radius: 70px;
    height: 140px;
    width: 140px;
}
.package .hotel{
    height: 120px;
    width: 100%;
    display: flex;
}
.package .hotel .t1{
    height: 120px;
    width: 50%;
    padding-left: 90px;
}
.package .hotel .t1 img{
    border-radius: 70px;
    height: 140px;
    width: 140px;
}
.package .hotel .t2{
    height: 120px;
    width: 50%;
    padding-top: 40px;
}
.package .hotel .t2 h4{
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
 }
.guide{
    position: relative;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    top: 40px;
    border-radius: 10px;
    padding-bottom:20px ;
    display: flex;
    background: rgb(7, 67, 5);
}
.guide .g1 h4{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-left: 40px;
    color:#fff ;
}
.guide .g1 img{
    width: 500px;
    height: 350px;
    margin-left: 80px;
    margin-top: 120px;
    margin-right: 30px;
}
.guide .g1 p{
    font-size: 25px;
    color:#fff ;
    margin-top: 70px;
    margin-left: 20px;
    font-weight: 400;
    margin-bottom: 70px;
}
.guide .g1 h5{
    font-size: 25px;
    color:#fff ;
    margin-left: 40px;
}
.guide .g1 h5 .bi{
    position: absolute;
    font-size: 20px;
    transition: .3s linear;
}
.accom{
    width: 80%;
    height: 500px;
    border-radius: 10px;
    margin-top: 50px;
    margin: auto;
    margin-top: 80px;
    background: rgb(46, 2, 2);
}

.accom .g1 img{
    width: 360px;
    height: 290px;
    margin-left: 23px;
    margin-top: 30px;
    margin-right: 0px;
}
.accom h4{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
    padding-top: 30px;
    color:#fff ;
}
.accom p{
    font-size: 25px;
    font-weight:200 ;
    margin-top: 30px;
    margin-left: 20px;
    color:#fff ;
}
.aboutus{
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    top: 40px;
    border-radius: 10px;
    padding-bottom:20px ;
    display: flex;
    background-color: bisque;
}
.aboutus .a1 h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    margin-left: 40px;
    color:#000 ;

}
.aboutus .a1 img{
    width: 500px;
    margin-left: 80px;
    margin-top: 120px;
    margin-right: 30px;
   
}
.aboutus .a1 p{
    font-size: 25px;
    color:#000 ;
    margin-left: 20px;
    font-weight: 400;
    margin-bottom: 70px;
}
footer{
    width: 100%;
    height: 615px;
    background: rgb(71, 10, 97);
    margin-top: 20px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    
}
footer h1{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 65px;
    padding-top: 20px;
    padding-left: 30px;
}
footer h2{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0%;
    line-height: 30px;
    font-weight: 600;
}
footer p{
    text-align: center;
    color: #fff;
    margin: 0%;
    margin-top: 25px;
    line-height: 30px;
    font-weight: 500;
    font-size: 25px;
}
footer .input{
    box-shadow: 0px 3px 20px -1px;
    width: 500px;
    margin-left: 500px;
    margin-top: 20px;
    display: flex;
}
footer .input  input {
    padding:12px 15px ;
    outline: none;
    font-size: 12px;
    width: 300px;
    background: #fff; 

}
footer .parts{
    width: 70%;
    height: 350px;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
}
footer .parts .part1 h6{
    color: #ffffff;
    font-size: 25px;
    font-weight: lighter;
    padding-left: 60px;
    padding-top: 30px;
}
footer .parts .part1 p{
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    padding-left: 80px;
    text-align: center;
}
footer .parts .part1 p .i{
    color: #ffffff;
    position: absolute;
}
footer .parts.part{
    width: 400px;
    height: 200px; 
    margin: 40px;
    margin-right: 300px;
}
footer .parts .part h6{
    color: #ffffff;
    font-size: 25px;
    font-weight: lighter;
    padding-top: 30px; 

}
footer .parts .part ul{
    padding-top: 20px;
}
footer .parts .part li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    transition: .3s linear;
    margin-right: 150px;
}
footer .parts .part li a:hover{
    background: rgb(0, 0, 0); 
}
