<!DOCTYPE html>
<html lang="en">
  <!--header section -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-three-dots"
      viewBox="0 0 16 16"
    >
      <path
        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
      />
    </svg>
    <link rel="stylesheet" href="style2.css" />
    <title>Travel agency - In & Out</title>
  </head>
  <!--body of the website-->
  <body>
    <header>
      <!--homepage-->
      <div class="content">
        <nav>
          <h1>In&Out</h1>
          <!--navigation section-->
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Special deals</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">register</a></li>
          </ul>
          <i class="bi bi-three-dots"></i>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-three-dots"
            viewBox="0 0 16 16"
          >
            <path
              d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
            />
          </svg>
        </nav>
        <p>Adventure Awaits!!</p>
        <!---->
        <div class="cont_bx">
          <h2>TRAVEL . DISCOVER . EXPLORE</h2>
          <h4>We Travel Together...</h4>
          <!--search bar in home page-->
          <input type="text" placeholder="Get Started..." />
        </div>
      </div>

      <div class="trip_box">
        <!--class to get input from user-->
        <div class="search_box">
          <div class="card">
            <h4>
              Location
              <i class="bi bi-caret-down">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-down"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
                  /></svg
              ></i>
            </h4>
            <input type="text" placeholder="enter your destination" />
          </div>
          <div class="card">
            <h4>
              Check In<i class="bi bi-caret-down">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-down"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
                  /></svg
              ></i>
            </h4>
            <input type="date" />
          </div>
          <div class="card">
            <h4>
              Check Out<i class="bi bi-caret-down">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-down"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
                  /></svg
              ></i>
            </h4>
            <input type="date" />
          </div>
          <div class="card">
            <h4>
              Members<i class="bi bi-caret-down">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-down"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
                  /></svg
              ></i>
            </h4>
            <input type="number" placeholder="Number of people" />
          </div>
          <!--search bar-->
          <input type="button" value="Find Tours" />
        </div>
        <!--class for displaying countries list along with images-->
        <div class="travel_box">
          <h4>Popular Destinations</h4>
          <div class="cards">
            <div class="card">
              <h3>INDIA<img src="India.jpeg" alt="" /></h3>
              <img src="taj.jpeg" alt="" />
              <a href="">Explore Now</a>
            </div>
            <div class="card">
              <h3>FRANCE<img src="France.jpeg" alt="" /></h3>
              <img src="paris.jpeg" alt="" />
              <a href="">Explore Now</a>
            </div>
            <div class="card">
              <h3>SINGAPORE <img src="singapore.jpeg" alt="" /></h3>
              <img src="bridge.jpeg" alt="" />
              <a href="">Explore Now</a>
            </div>
            <div class="card">
              <h3>HONKKONG <img src="Hong Kong.jpeg" alt="" /></h3>
              <img src="stadium.jpeg" alt="" />
              <a href="">Explore Now</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--class for article which decribes package-->
    <div class="package">
      <h3>Our Package Includes :</h3>
      <div class="transportation">
        <div class="t1">
          <h4>FOOD</h4>
        </div>
        <div class="t2">
          <img src="transport.jpeg" alt />
        </div>
      </div>
      <div class="food">
        <div class="t1">
          <img src="food.jpeg" alt />
        </div>
        <div class="t2">
          <h4>TRANSPORTATION</h4>
        </div>
      </div>
      <div class="guidecharge">
        <div class="t1">
          <h4>ACCOMODATION</h4>
        </div>
        <div class="t2">
          <img src="guide.jpeg" alt />
        </div>
      </div>
      <div class="hotel">
        <div class="t1">
          <img src="accom.jpeg" alt />
        </div>
        <div class="t2">
          <h4>GUIDE CHARGES</h4>
        </div>
      </div>
    </div>

    <!--class for article on giude facility-->
    <div class="guide">
      <div class="g1">
        <h4>DISCOVER THE WORLD WITH OUR GUIDE</h4>
        <p>
          You can choose any country with good tourism agency but not a homely
          EXPERIENCE.<br />
          &#160; &#160; &#160; To have a INCREDIBLE , EXCITING and UNBILIEVABLE
          vacation here we are <br />
          <br />
          &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;IN&OUT at your
          service……
        </p>
        <h5>
          20 Years of Experience &#160;<i class="bi bi-check2-circle"></i
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-check2-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"
            />
            <path
              d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"
            />
          </svg>
        </h5>
        <h5>
          150+ Tour Destination &#160;<i class="bi bi-check2-circle"></i
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-check2-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"
            />
            <path
              d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"
            />
          </svg>
        </h5>
      </div>
      <div class="g1">
        <img src="discover.jpeg" alt="" />
      </div>
    </div>

    <!--class for article on accomodation facility-->
    <div class="accom">
      <h4>WORLD CLASS ACCOMODATION</h4>
      <div class="g1">
        <img src="world class1.jpeg" alt="" />
        <img src="world class2.jpeg" alt="" />
        <img src="world class3.jpeg" alt="" />
      </div>
      <p>Luxury Hotel Rooms with Affordable Price &<br />Best Food</p>
    </div>

    <!--class for article on about us-->
    <div class="aboutus">
      <div class="a1">
        <h1>About Us</h1>
        <p>
          <br />
          Have you ever pictured what it would be like to live in that city
          you're visiting?<br />
          where would you choose to spend your saturday afternoons if you'd
          lived there your entire life?<br />
          It's time to start traveling like a local.<br />
          Local you is dedicated to providing the most up-to-date, authentic
          travel recommendations for you to enjoy when you travel.Remove the
          stress and hours of research!<br />
          plan you next itinerary with IN&OUT who share your preferences, enjoy
          the things you do,and understand what you value in a trip.Now,you can
          finally live like a local.
          <br />&#160; &#160; &#160; &#160; &#160;so whats making you stop book
          your destination NOW...
        </p>
      </div>
      <div class="a1">
        <img src="about us.jpeg" alt="" />
      </div>
    </div>

    <!--footer section-->
    <footer>
      <h1>In&Out</h1>
      <h2>
        Subscribe & <br />
        Get Special Discount
      </h2>
      <p>INDIA | FRANCE | SINGAPORE | HONK KONG</p>
      <!--button for subscription-->
      <div class="input">
        <input type="text" placeholder="Enter your Email Address" />
        <input type="button" value="subscribe" />
      </div>
      <div class="parts">
        <!--Address and contact details-->
        <div class="part1">
          <h6>ADDRESS :</h6>
          <p>
            Unit.no.302 Creative Industrial Est.<br />N.N Road Tilak Nagar,<br />Bengaluru,110018,India,<br />Enquiry
            Now : 040 2355 334.<br />Email : inandout@gmail.com.
          </p>
          <p>
            FOLLOW US<br /><i class="bi bi-facebook"></i
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              fill="currentColor"
              class="bi bi-facebook"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
              />
            </svg>
            &#160; <i class="bi bi-instagram"></i
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              fill="currentColor"
              class="bi bi-instagram"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"
              />
            </svg>
            &#160; <i class="bi bi-pinterest"></i
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              fill="currentColor"
              class="bi bi-pinterest"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z"
              />
            </svg>
          </p>
        </div>
        <!--navigation section in footer-->
        <div class="part">
          <h6>QUICK LINKS</h6>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Special deals</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">register</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="app2.js"></script>
  </body>
</html>
